.photos
	overflow-y: scroll
	width: 100%

	.title
		margin-bottom: 50px

	&__text
		font-size: 18px
		line-height: 32px
		font-weight: 300
		font-family: 'Open Sans'
		color: #020202
		margin-bottom: 50px

