.article
	display: flex
	flex-direction: column
	justify-content: space-between
	overflow-y: scroll
	padding-bottom: 80px

	&__over
		padding-top: 93px
		padding-left: 158px
		padding-right: 158px

	&__text
		font-size: 18px
		line-height: 32px
		font-weight: 300
		font-family: 'Open Sans'
		color: #020202

		p
			margin-bottom: 50px

	&__title
		font-weight: normal
		font-size: 38px
		line-height: 41px
		color: #4b504d
		margin-bottom: 38px
	
	&__picture
		margin-bottom: 50px

		img
			width: 100%