include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.album
			.album__over
				a(href="#").album__title Фотографии 
				h1.album__subtitle Мотогонки
				.album__text
						p Часто вспоминаю годы занятий мотоспортом — скорость, адреналин, гоночные треки, замечательные товарищи по команде. В этом разделе представлены некоторые фотографии тех лет.
			.album__photos
				.album__element
					a(href="/img/album/photo1.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo1.jpg", alt="")
				.album__element
					a(href="/img/album/photo2.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo2.jpg", alt="")
				.album__element
					a(href="/img/album/photo3.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo3.jpg", alt="")
				.album__element
					a(href="/img/album/photo4.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo4.jpg", alt="")
				.album__element
					a(href="/img/album/photo6.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo6.jpg", alt="")
				.album__element
					a(href="/img/album/photo5.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo5.jpg", alt="")
				.album__element
					a(href="/img/album/photo4.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo4.jpg", alt="")
				.album__element
					a(href="/img/album/photo6.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo6.jpg", alt="")
				.album__element
					a(href="/img/album/photo5.jpg", data-fancybox="images").album__element-link
						img(src="/img/album/photo5.jpg", alt="")
		+scripts
