include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.article
			.article__over
				h1.article__title Диссертация
				.article__text
					p Рабочее название моей будущей диссертации звучит так: «Социокультурные барьеры коммерциализации научных разработок». За этим сложным названием стоит очень простая идея.
				.article__picture
					img(src="./img/article/picture.jpg", alt="")
				.article__text
					p У меня был печальный опыт, связанный с написанием кандидатской диссертации, и я решил, что просто обязан сделать интересное и полезное исследование и провести яркую защиту.
					p Моим научным руководителем согласился стать декан экономического факультета МГУ Александр Александрович Аузан. Начали мы с ним эту работу в начале 2014 года, защититься я планирую в 2018-2019. Мы довольно долго выбирали тему, которая была бы интересной и Александру Александровичу и мне и обладала бы бесспорной научной новизной. В результате рабочее название моей будущей диссертации звучит так: «Социокультурные барьеры коммерциализации научных разработок». За этим названием стоит очень простая идея.
					p Все согласны с тем, что наша страна славится великолепными учеными, у нас много великих научных открытий и изобретений. А вот с доведением их до конечного продукта — беда. Пытаясь решить эту проблему, государство создает специальные структуры, выделяются деньги, но, надо признать, результат по прежнему оставляет желать лучшего. Возможно, проблема в тех самых социокультурных барьерах? В том, что у ученых и предпринимателей разные целевые установки, разные представления о базовых ценностях, о времени и понимании успешности результата? Это подтвердили глубинные интервью, которые я провел. Думаю, что никого из читающих эти строки этот вывод не удивляет. Но оказалось, что никто не пытался эти результаты «оцифровать» и посчитать. 
					p Я сделал «зеркальную» анкету и собрал ответы с нескольких сотен ученых и представителей бизнеса. Первые результаты хотя и ожидаемы, но все же поразительны — между представителями науки и предпринимателями просто настоящая пропасть! Два месяца назад я попросил своих друзей опросить по этой анкете американцев, немцев и казахов — интересно, что происходит в этих странах. Сейчас заканчиваю обработку и начинаю описывать результаты.
					p Буду признателен за отклики и комментарии.
		+scripts
