include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.blog
			.wrapper
				h1.title  Блог
				.blog__tags
					a(href="#").blog__tag о себе
					a(href="#").blog__tag работа
					a(href="#").blog__tag спорт
					a(href="#").blog__tag события
					a(href="#").blog__tag о жизни
				.blog__text
					p Здесь вы найдете мои заметки о событиях, которыми мне захотелось с вами поделиться — о моих первом марафоне и Айронмене, об интересных событиях и наблюдениях.
			.preview-cards
				.preview-card
					a(href="#").preview-card__link
					.preview-card__bg(style="background-image: url('./img/blog/bg-1.jpg')")
					.preview-card__info
						.preview-card__subtitle
							i.preview-card__date 13 июня 2018
							.preview-card__tags
								a(href="#").preview-card__tag бег
								a(href="#").preview-card__tag ультрамарафон
								a(href="#").preview-card__tag спорт
						a(href="#").preview-card__title Ультрамарафон Comrades 2018
				.preview-card
					a(href="#").preview-card__link
					.preview-card__bg(style="background-image: url('./img/blog/bg-2.jpg')")
					.preview-card__info
						.preview-card__subtitle
							i.preview-card__date 31 декабря 2017
							.preview-card__tags
								a(href="#").preview-card__tag итогигода
								a(href="#").preview-card__tag ясуппер
								a(href="#").preview-card__tag достижения
						a(href="#").preview-card__title Итоги 2017
				.preview-card
					a(href="#").preview-card__link
					.preview-card__bg(style="background-image: url('./img/blog/bg-3.jpg')")
					.preview-card__info
						.preview-card__subtitle
							i.preview-card__date 18 ноября 2017
							.preview-card__tags
								a(href="#").preview-card__tag осебе
								a(href="#").preview-card__tag особоемнение
						a(href="#").preview-card__title Ты что, зазнался?
				.preview-card
					a(href="#").preview-card__link
					.preview-card__bg(style="background-image: url('./img/blog/bg-4.jpg')")
					.preview-card__info
						.preview-card__subtitle
							i.preview-card__date 10 октября 2017
							.preview-card__tags
								a(href="#").preview-card__tag особоемнение
								a(href="#").preview-card__tag спорт
						a(href="#").preview-card__title Кто он — тренер мечты?
				.preview-card
					a(href="#").preview-card__link
					.preview-card__bg(style="background-image: url('./img/blog/bg-5.jpg')")
					.preview-card__info
						.preview-card__subtitle
							i.preview-card__date 12 июня 2017
							.preview-card__tags
								a(href="#").preview-card__tag события
								a(href="#").preview-card__tag бизнес
								a(href="#").preview-card__tag развитие
						a(href="#").preview-card__title james woudhuysen
				.preview-card
					a(href="#").preview-card__link
					.preview-card__bg(style="background-image: url('./img/blog/bg-6.jpg')")
					.preview-card__info
						.preview-card__subtitle
							i.preview-card__date 8 марта 2017
							.preview-card__tags
								a(href="#").preview-card__tag осебе
								a(href="#").preview-card__tag кухня
								a(href="#").preview-card__tag пирожки
						a(href="#").preview-card__title Рецепт пирожков с капустой
		+page_footer
		+agreement
		+scripts
