include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.index.horizontal.first
		+header
		.hero
			.hero__photo.hero__photo--first
				img(src="./img/index/photo-1.jpg", alt="")
			.hero__photo.hero__photo--second
				img(src="./img/index/photo-2.jpg", alt="")
			.hero__photo.hero__photo--third
				img(src="./img/index/photo-3.jpg", alt="")
		+agreement
		+scripts
