include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.photos
			.photos__over
				h1.photos__title Фотографии
				.photos__text
						p Ретроконверсия национального наследия, не меняя концепции, изложенной выше, усиливает рейтинг. Экспертиза выполненного проекта масштабирует креативный медиаплан. SWOT-анализ, безусловно, интуитивно допускает традиционный канал. 
			.photos__links
				.photos__element
					a(href="#").photos__element-link
					.photos__bg(style="background-image: url('./img/photos/bg-1.jpg')")
					.photos__element-info
						p.photos__element-title Мотогонки
						i.photos__element-subtitle Занятие мотоспортом — это всегда скорость и адреналин
				.photos__element
					a(href="#").photos__element-link
					.photos__bg(style="background-image: url('./img/photos/bg-2.jpg')")
					.photos__element-info
						p.photos__element-title Отчёт о моем первом Айроне
						i.photos__element-subtitle Первый IronMan сделан!
				.photos__element
					a(href="#").photos__element-link
					.photos__bg(style="background-image: url('./img/photos/bg-3.jpg')")
					.photos__element-info
						p.photos__element-title Дикая природа
						i.photos__element-subtitle Я очень люблю фотографию и путешествия
				.photos__element
					a(href="#").photos__element-link
					.photos__bg(style="background-image: url('./img/photos/bg-4.jpg')")
					.photos__element-info
						p.photos__element-title Мотогонки
						i.photos__element-subtitle Занятие мотоспортом — это всегда скорость и адреналин
				.photos__element
					a(href="#").photos__element-link
					.photos__bg(style="background-image: url('./img/photos/bg-5.jpg')")
					.photos__element-info
						p.photos__element-title Отчёт о моем первом Айроне
						i.photos__element-subtitle Первый IronMan сделан!
				.photos__element
					a(href="#").photos__element-link
					.photos__bg(style="background-image: url('./img/photos/bg-6.jpg')")
					.photos__element-info
						p.photos__element-title Дикая природа
						i.photos__element-subtitle Я очень люблю фотографию и путешествия
		+scripts
