include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.publication
			.wrapper
				a(href="#").title.title--breadcrumbs  Публикации 
				h1.title.subtitle формирование лидеров среди молодежи
				.tags
					a(href="#").tag популярныестатьи
				.wis-content

					p И снова темная 
						i африканская 
						| ночь. Я пытаюсь через окно старенькой Хонды 
						b разглядеть 
						| быстро меняющиеся пейзажи, думаю о и невпопад отвечаю на бесконечные вопросы веселого водителя Uber. Неожиданно мы упираемся в дикую пробку. Машины почти не двигаются, и через полчаса меня начинает охватывать уже нешуточное волнение. Выехал вроде достаточно рано — в начале четвёртого, но поездка из Дурбана до Питермарицбурга, которая занимает обычно меньше часа, продолжается уже почти два. Таксист, искренне желая помочь мне успеть на Comrades, сворачивает с трассы, долго петляет по каким-то страшным трущобам и наконец упирается в тупик…
						a(href="#") ультрамарафон
						|  думаю о и невпопад отвечаю на бесконечные вопросы веселого водителя Uber. 
					ul
						li ночь
						li ночь
						li ночь
					
					ol
						li ночь
						li ночь
						li ночь
					
					h1 ночь
					h2 ночь
					h3 ночь
					h4 ночь
					h5 ночь

					table
						tr 
							th dfg
							th dgf
							th dgdsd
						tr 
							td ghdfg
							td rgdfg
							td sdfdg
						tr 
							td ghdfg
							td rgdfg
							td sdfdg

					img(src="./img/post/pic1.jpg", alt="")
					
					p До места старта остаётся чуть меньше 5 км, я выскакиваю из машины и бегу по навигатору к ратуше. Какие-то местные бомжи, через которых я практически перепрыгиваю, что-то кричат мне вслед на местном языке. «Желают успешного старта, наверное» — думаю я с улыбкой, и на всякий случай добавляю темп.
					quote 
						p Специально для тех, кто считает, что ультрамарафон — это что-то сверхъестественное и невозможное. Уверен, что почти каждый читатель этих строк независимо от возраста и состояния здоровья способен на такой старт. Конечно, очень важна грамотная подготовка. Но главное — сила воли и мотивация. 
					p Проход на старт уже закрывается, меня пытаются отправить в последний сектор, но я перелезаю через забор и успеваю как раз к Шошолозе — народной южноафриканскойлишь подать заявку. Тогда никто и подумать не мог, какой интерес вызовет этот экспериментальный проект. Рассчитывали на 10 тысяч анкет. В реальности их число достигло почти 200 тысяч. Эти заявки прошли дистанционный отбор: в формате онлайн-тестирования. Проверяли общие знания, а также тест на управленческий потенциал участников. Очно они впервые встретились друг с другом на полуфиналах в своих федеральных округах. До этого этапа добрались 2691 человек. Задание — решить бизнес-задачи. По результатам лучшие 300 человек в финале.
				.publication__btns
					.publication__btn
						a(href="#").btn Посмотреть оригинал
					.publication__share
						span.publication__share-text Поделиться
						.addthis_inline_share_toolbox
			.swiper-container.bottom-swiper
				.swiper-wrapper
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/works/bg-1.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Конференция «кадры россии»
								i.bottom-swiper__element-subtitle Выступил с докладом о кадровом потенциале нашей страны
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/works/bg-2.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Курчатовские чтения
								i.bottom-swiper__element-subtitle В академии РАНХиГС, от первого лица
					.swiper-slide
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/works/bg-3.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Россия страна возможностей
								i.bottom-swiper__element-subtitle Послание Президента России Федеральному собранию
		+page_footer
		+agreement
		+scripts
