include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.sport
			.wrapper
				h1.title  Спортивные
					br
					| достижения
				.sport__text
					p Моё увлечение бегом берёт своё начало в 2015 году, когда я пробежал свой первый и самый экстремальных марафон в своей жизни, Байкальский ледовый марафон, за 4 часа и 55 минут. С тех пор я пробежал ещё N марафонов и ощутимо улучшил свои показатели.
				.sport__logos
					a(href="#")
						img(src="./img/sport/logo1.jpg", alt="")
					a(href="#")
						img(src="./img/sport/logo2.jpg", alt="")
					a(href="#")
						img(src="./img/sport/logo3.jpg", alt="")

			.swiper-container.bottom-swiper
				.swiper-wrapper
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/sport/bg-1.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Мой первый марафон
								i.bottom-swiper__element-subtitle Байкальский ледовый. Только хардкор.
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/sport/bg-2.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Лучший в мире тренер
								i.bottom-swiper__element-subtitle Такого ещё поискать!
					.swiper-slide
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/sport/bg-3.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Ультрамарафон Comrades 2018
								i.bottom-swiper__element-subtitle 90 километров по африканским холмам
		+page_footer
		+agreement
		+scripts
