include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.horizontal.first
		+header
		.work
			.wrapper
				a(href="#").title.title--breadcrumbs  Моя работа 
				h1.title.subtitle  Лидеры России
				.work__item
					.work__item-logo
						img(src="./img/work/logo.jpg", alt="")
					.work__item-text
						p «Лидеры России» — это открытый конкурс для руководителей нового поколения. Бросьте вызов тысячам управленцев и попадите в сообщество лидеров, которые определят будущее России.
						p Вот уже на протяжении месяца, как федеральные и региональные СМИ информируют нас о проведении конкурса «Лидеры России». Кто до сих пор ничего о данном мероприятии не слышал, коротко скажу, что основной целью конкурса является выявление и последующая поддержка наиболее перспективных россиян, способных к управленческой деятельности. Победители конкурса получат возможность обучения в специализированных вузах. При этом в процессе обучения им будут закреплены личные кураторы, среди которых заявлены такие известные в стране лица, как: Герман Греф, Эльвира Набиуллина, Алексей Кудрин и ряд др. 
						p Участие в конкурсе бесплатное.
						a(href="#").work__item-link лидерыроссии.рф
			.swiper-container.bottom-swiper
				.swiper-wrapper
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/works/bg-1.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Конференция «кадры россии»
								i.bottom-swiper__element-subtitle Выступил с докладом о кадровом потенциале нашей страны
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/works/bg-2.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Курчатовские чтения
								i.bottom-swiper__element-subtitle В академии РАНХиГС, от первого лица
					.swiper-slide 
						.bottom-swiper__element
							a(href="#").bottom-swiper__element-link
							.bottom-swiper__element-bg(style="background-image: url('./img/works/bg-3.jpg')")
							.bottom-swiper__element-info
								a(href="#").bottom-swiper__element-title Россия страна возможностей
								i.bottom-swiper__element-subtitle Послание Президента России Федеральному собранию
		+page_footer
		+agreement
		+scripts
