mixin header
	aside.menu&attributes(attributes)
		span.background.background--green
		span.background.background--golden
		span.background.background--blue
		header
			.logo
				a(href="#").logo__link
					span Алексей
					span Комиссаров
					i персональный сайт
			nav.nav
				ul.nav__list
					li.nav__item
						a(href="#").nav__link Биография
					li.nav__item
						a(href="#").nav__link Работа
					li.nav__item
						a(href="#").nav__link Спорт
					li.nav__item
						a(href="#").nav__link Диссертация
					li.nav__item
						a(href="#").nav__link Фотографии
					li.nav__item
						a(href="#").nav__link Публикации
					li.nav__item
						a(href="#").nav__link Блог
					li.nav__item
						a(href="#").nav__link Задать вопрос
		footer.footer
			.social
				a(href="#").social__link.social__link--fb
				a(href="#").social__link.social__link--tw
				a(href="#").social__link.social__link--vk
			a(href="#").footer__language English version
			.developers
				a(href="#").developers__link Пользовательское соглашение
				a(href="#").developers__link Разработка сайта

