mixin page_footer
    .page_footer
        a(data-fancybox, href="#agreement").developers__link Пользовательское соглашение
        a(href="http://vane.ru/" target="_blank").developers__link Разработка сайта